@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('../fonts/PlayfairDisplay-Italic.ttf');
}

@font-face {
    font-family: 'Roberto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

/* Set a base fonts size */
html {
    font-size: 16px;
}

/* Reset default margin, padding, and box-sizing for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove underlines from links */
a {
    text-decoration: none;
}

/* Define custom CSS variables for colors */
:root {
    --white-font: rgba(255, 255, 255, 0.85);
    --theme-color: #bb86fc;
    --pink: #bb86fc;
    --teal: #00bfa5;
    --indigo: #3d5afe;
    --red: #ff5252;
    --green: #64dd17;
    --color-invalid: #D8000C;
    --invalid-bg: #FFBABA;
    --color-valid: #4F8A10;
    --valid-bg: #DFF2BF;
    --color-info: #00529B;
    --info-bg: #BDE5F8;
    --color-warning: #9F6000;
    --warning-bg: #FEEFB3;
    --color-validation: #D63301;
    --validation-bg: #FFCCBA;
}

/* Global styles */
body {
    background: #121212;
    font-family: 'Roberto-Regular', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    min-width: 100%;
    min-height: 100vh;
}

.btn,
button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em 0;
    align-items: center;
}

figure {
    text-align: center;
}

.list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:focus,
a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
}

input,
select,
textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 0;
    font-size: 15px;
    color: #777;
}

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-size: 2rem;
}

.main {
    display: flex;
    justify-content: center;
}

.clear {
    clear: both;
}

#siteName {
    display: none;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 999;
    background: rgb(139 139 139 / 4%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.sticky nav {
    padding: 0.25em 1em;
}

.sticky #siteName {
    font-family: 'PlayfairDisplay-Italic', sans-serif;
    display: none;
    font-size: 2.25rem;
    color: #ffffff78;
    font-weight: 900;
    text-shadow: 1px 1px 6px var(--theme-color);
}

/* Header styles for tasks section */
#tasks-header {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#tasks-section form {
    margin: 1.5rem 0 2rem;
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    padding: 0.8rem;
    justify-content: center;
}

#tasks-section input {
    padding: 10px;
    font-size: 17px;
    outline: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    max-width: 500px;
    width: 100%;
    background: rgb(255 255 255 / 5%);
    border: 1px solid rgb(255 255 255 / 15%);
    color: var(--white-font);
}

#tasks-section input:hover {
    cursor: text;
}

#tasks-section .add-todo-btn {
    border-radius: unset;
    background: var(--theme-color);
    color: var(--white-font);
    padding: 11px;
    font-size: 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
}

#tasks-section h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--white-font);
    letter-spacing: 0.20rem;
    margin-top: 50px;
    max-width: 480px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.blink-caret {
    animation: blink-caret 0.75s step-end infinite;
    border-right: 1px solid #ffffff;
    padding-top: 2em;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--white-font);
    }
}

/* Styles for tasks container */
#tasks-container {
    width: 90%;
    margin: 0 auto;
}

/* Styles for individual todo items */
.todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}

/* Styles for task items */
.task {
    background: rgb(255 255 255 / 5%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    transition: all 0.3s ease;
}

.task:hover {
    box-shadow: 0 0 15px -5px var(--theme-color);
}

.task > div {
    display: block;
    padding: 0 20px 50px;
    background-color: #000000;
    text-decoration: none;
    color: #ffffff !important;
    overflow: hidden;
    position: relative;
}

.task .task-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    padding: 27px 5px 15px;
}

.task .done-span,
.task .done-btn {
    display: none;
}

.task .done-btn {
    background-color: var(--theme-color);
    color: var(--white-font);
    width: 100%;
    padding: 12px 15px 12px;
    text-align: center;
    border-radius: unset;
}

.task .fa-times,
.task .fa-edit,
.task .done-span {
    font-size: 18px;
    padding: 7px 0 7px 10px;
}

.fa-times:hover,
.fa-edit:hover,
.done-span:hover,
#task-edit-modal {
    color: var(--theme-color);
}

#task-edit-modal h2 {
    text-align: center;
    color: var(--white-font);
}

.task-detail {
    min-height: 100px;
    margin: 0 0 25px;
    overflow: hidden;
    color: var(--white-font);
    z-index: 2;
    position: relative;
}

.task-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.task-desc {
    margin-top: 5px;
    font-size: 1rem;
}

.task-desc,
.task-title {
    display: inline-block;
}

/* Styles for the modals */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: hidden;
}

.modal-content {
    background-color: #121212;
    color: var(--white-font);
    width: 60vw;
    height: 55vh;
    margin: 100px auto 0;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    max-height: 450px;
    flex-direction: column;
}

/* Done tasks */
.done-task {
    opacity: 0.5;
    box-shadow: none !important;
}

.done-task .done-btn {
    background-color: #ff7597 !important;
    position: absolute;
    display: block !important;
    bottom: 0 !important;
}

/* Line-through animation */
@keyframes strike {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.strike {
    position: relative;
}

.strike::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    animation-name: strike;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#task-edit-modal .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
}

/* Styles for edit task modal */
#task-edit-modal form {
    font-size: 18px;
    margin-top: 20px;
}

#task-edit-modal label {
    display: block;
    margin-bottom: 5px;
}

#task-edit-modal #task-title,
#task-edit-modal #task-description,
#task-edit-modal #task-status {
    width: 100% !important;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#task-edit-modal .save-modal {
    background-color: var(--theme-color);
    color: var(--white-font);
}

/* Styles for the menu */
.menu-content {
    height: 400px;
    width: 400px;
    background-color: var(--theme-color);
    z-index: 1;
    position: absolute;
    top: -400px;
    left: -400px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.menu-content .fa-times,
.menu-content .fa-sign-out,
.menu-content .fa-github,
.menu-content .fa-paint-roller {
    position: absolute;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

.menu-content .fa-times {
    right: 28%;
    bottom: 7%;
}

.menu-content .fa-sign-out {
    right: 19%;
    bottom: 11%;
}

.menu-content .fa-github {
    right: 13%;
    bottom: 18%;
}

.menu-content .fa-paint-roller {
    right: 7%;
    bottom: 26%;
}

.menu-btn {
    display: block;
    background: none;
    padding: 3px;
    width: 36px;
}

.bar {
    background-color: var(--theme-color);
    height: 4px;
    transition: all 200ms ease-in-out;
    margin: 6px 0;
}

.show-menu {
    left: -260px !important;
    top: -260px !important;
}

/* Styles for color items (color menu) */
.color-item {
    border: 1px solid #333333;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
    border-radius: 100%;
}

.color-item:hover {
    opacity: 0.8;
}

.colorMenu .fa-times {
    bottom: 27%;
}

/* Positioning for color items */
.teal {
    background-color: var(--teal);
    bottom: 28%;
    right: 5%;
}

.indigo {
    background-color: var(--indigo);
    bottom: 21.5%;
    right: 9%;
}

.red {
    background-color: var(--red);
    bottom: 15%;
    right: 14%;
}

.pink {
    background-color: var(--pink);
    bottom: 9.5%;
    right: 21%;
}

.green {
    background-color: var(--green);
    bottom: 5%;
    right: 28%;
}

/* Hover and focus styles for various elements */
#task-edit-modal .save-modal:hover,
#tasks-section input:focus,
button:hover,
.menu-btn:hover,
.menu-content span:hover,
a:hover,
.done-btn:hover,
.done-span:hover,
.fa-undo:hover,
.fa-edit:hover,
.fa-times:hover {
    cursor: pointer;
    opacity: 0.7;
}

.menu-btn,
.menu-content span,
button,
.fa-edit,
.fa-times,
.fa-check,
#task-status,
.fa-undo,
nav,
a,
.done-task .done-btn {
    transition: all 0.3s ease;
}

/* Footer styles */
footer {
    text-align: center;
    color: var(--white-font);
    width: 100%;
    padding: 20px;
}

/* Styles for links within the footer */
footer a {
    color: var(--theme-color);
}

footer .fa-heart {
    color: var(--theme-color);
}

.show-modal {
    display: flex;
    align-content: center;
    align-items: center;
}

/* Login - Register Forms */
.display-flex,
.display-flex-center,
.sign-up-content,
.sign-in-content {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.sign-up .container,
.sign-in .container {
    min-height: unset;
}

.display-flex {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

.display-flex-center {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.sign-up,
.sign-in {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 75vh;
}

.sign-in {
    height: 65vh;
}

.sign-up input:not([type="submit"]),
.sign-in input:not([type="submit"]) {
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
}

.remember-me {
    margin-top: 30px;
}

.sign-up-form,
.sign-up-image,
.sign-in-form,
.sign-in-image {
    width: 50%;
    overflow: hidden;
}

.form-title {
    margin-bottom: 3%;
    color: rgba(255, 255, 255, 0.85);
}

.form-submit {
    display: inline-block;
    background: var(--pink);
    color: var(--white-font);
    border-bottom: none;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    cursor: pointer;
}

.form-submit:hover {
    opacity: 0.8;
}

.links-container {
    display: flex;
    justify-content: space-around;
}

.sign-in-content .links-container {
    margin-top: 2em;
}

.sign-up-image-link,
.forget-password-link {
    font-size: 0.87rem;
    color: var(--white-font);
    display: block;
}

.sign-up .sign-up-image-link {
    margin-top: 5%;
}

.register-form {
    width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.material-icons-name {
    font-size: 18px;
}

.sign-in-form, .sign-up-form {
    width: 40%;
}

.sign-in-form {
    margin-right: 6%;
    margin-left: 4%;
}

.sign-up-form {
    margin-right: 4%;
    margin-left: 6%;
}

.sign-in-image, .sign-up-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-image img, .sign-up-image img {
    width: 26vw;
}

label[for="remember-me"] {
    padding-top: 2px;
    font-size: 14px !important;
    color: var(--white-font);
}

/* Input Styles */
input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box;
}

input::-webkit-input-placeholder {
    color: #999;
}

input::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder {
    color: #999;
}

input:-moz-placeholder {
    color: #999;
}

input:focus::-webkit-input-placeholder {
    color: #222;
}

input:focus::-moz-placeholder {
    color: #222;
}

input:focus:-ms-input-placeholder {
    color: #222;
}

input:focus:-moz-placeholder {
    color: #222;
}

.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 200px;
    height: 210px;
    margin: 10px;
}

.control {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 5px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: var(--pink);
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: rgba(187, 134, 252, 0.52);
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #000;
    background: #ccc;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
}

.eye-icon,
.fa-circle-info {
    cursor: pointer;
    position: absolute;
    color: #757575 !important;
    right: 3%;
    top: 30%;
}

.eye-icon {
    margin-right: 1.5rem;
}

/* Inputs custom error styles */
@keyframes error-shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes show-message {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hide-message {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-10px);
        opacity: 0;
    }
}

.form-group__input {
    border: 2px solid rgb(177, 177, 177);
    width: 100%;
}

.form-group__input,
.show-invalid-input-message {
    position: relative;
}

.form-group__message {
    position: absolute;
    padding: 5px;
    top: 36px;
    display: none;
    border-radius: 0 0 12px 12px;
    font-size: 0.75rem;
    z-index: -1;
    width: 100%;
}

.show-invalid-input-message {
    display: block;
    animation: error-shake 250ms;
    color: var(--color-validation) !important;
    background-color: var(--validation-bg) !important;
}

/* Invalid input showing */
.is-invalid-input {
    color: var(--color-validation);
    animation: error-shake 250ms;
}

.fa-eye {
    color: var(--white-font);
}

/* Box */
.box {
    background: rgba(255, 255, 255, 0.18);
    display: flex;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    text-align: center;
    width: 80%;
    margin-bottom: 5px;
    padding: 20px;
    justify-content: center;
}

/* Media Queries */

/* Media query for screens up to 768px (mobile screens) */
@media screen and (max-width: 768px) {
    #tasks-section h1 {
        font-size: 2.25rem;
    }

    #tasks-section form {
        margin-top: 1rem;
        width: 90%;
    }

    .sticky #siteName {
        font-size: 1.75rem;
    }

    .task {
        flex-basis: 100%;
        margin: 0 15px 30px;
    }

    .task .done-span {
        display: inline-block;
    }

    .done-task .done-span {
        display: none !important;
    }

    .sign-up-form,
    .sign-up-image,
    .sign-in-form,
    .sign-in-image {
        width: auto;
    }

    .social-login {
        justify-content: center;
    }

    #register-submit-input,
    #login-submit-input {
        text-align: center;
    }

    .form-title {
        text-align: center;
    }

    .modal-content{
        width: 85vw;
        height: 45vh;
    }
}

/* Media query for screens between 768px and 1024px (tablets) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .task {
        flex-basis: calc(50% - 30px);
        margin: 0 15px 30px;
    }
}

/* Media query for screens larger than 1024px (desktop screens) */
@media screen and (min-width: 1024px) {
    .task {
        flex-basis: calc(33.33333% - 30px);
        margin: 0 15px 30px;
    }

    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1024px) {
    .sign-in-image, .sign-up-image {
        display: none !important;
    }

    .sign-in-form, .sign-up-form {
        width: 60%;
    }
}

/* Media query for screens more than 768px */
@media screen and (min-width: 768px) {
    .task .done-btn {
        display: block;
        position: absolute;
        bottom: -40px;
    }

    .task:hover .done-btn {
        bottom: 0;
    }
}

/* Media query for screens up to 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: calc(100% - 30px);
        max-width: 100%;
    }
}

/* Media query for screens up to 400px (small mobile screens) */
@media screen and (max-width: 400px) {
    .social-login {
        flex-direction: column;
    }

    .social-label {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .sign-in-form, .sign-up-form {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .sign-in,
    .sign-up{
        height: 50vh !important;
    }
}

@media screen and (max-width: 624px) {
    .links-container {
        display: block;
    }

    .links-container a {
        margin-bottom: 0.85em;
    }

    .sign-in,
    .sign-up{
        height: 60vh;
    }
}